[package]
name = "sysinfo"
version = "0.3.1"
authors = ["Guillaume Gomez <guillaume1.gomez@gmail.com>"]

description = "Library to handle processes"
repository = "https://github.com/GuillaumeGomez/sysinfo"
license = "LGPL-3.0+"

categories = ["filesystem", "os", "os::macos-apis", "os::unix-apis"]

build = "build.rs"

[dependencies]
libc = "^0.2"

[lib]
name = "sysinfo"
crate_type = ["rlib", "dylib"]
path = "src/sysinfo.rs"

[features]
c-interface = []

[badges]
travis-ci = { repository = "GuillaumeGomez/sysinfo" }
appveyor = { repository = "GuillaumeGomez/sysinfo", service = "github" }
