[package]
name = "sysinfo"
version = "0.29.1"
authors = ["Guillaume Gomez <guillaume1.gomez@gmail.com>"]
description = "Library to get system information such as processes, CPUs, disks, components and networks"
repository = "https://github.com/GuillaumeGomez/sysinfo"
license = "MIT"
readme = "README.md"
rust-version = "1.59"
exclude = ["/test-unknown"]
categories = ["filesystem", "os", "api-bindings"]
edition = "2018"

[lib]
name = "sysinfo"

[features]
default = ["multithread"]
apple-sandbox = []
apple-app-store = ["apple-sandbox"]
c-interface = []
multithread = ["rayon"]
debug = ["libc/extra_traits"]
# This feature is used on CI to emulate unknown/unsupported target.
unknown-ci = []

[package.metadata.docs.rs]
features = ["serde"]
# Setting this default target to prevent `freebsd` to be the default one.
default-target = "x86_64-unknown-linux-gnu"
targets = ["x86_64-unknown-freebsd"]
cargo-args = ["-Zbuild-std"]

[dependencies]
cfg-if = "1.0"
rayon = { version = "^1.5.1", optional = true }
serde = { version = "^1.0.152", optional = true }

[target.'cfg(any(windows, target_os = "linux", target_os = "android"))'.dependencies]
once_cell = "1.0"

[target.'cfg(windows)'.dependencies]
# FIXME: remove std feature once https://github.com/retep998/winapi-rs/pull/1003 has been merged.
winapi = { version = "0.3.9", features = [
  "errhandlingapi",
  "fileapi",
  "handleapi",
  "heapapi",
  "ifdef",
  "ioapiset",
  "minwindef",
  "pdh",
  "psapi",
  "synchapi",
  "sysinfoapi",
  "winbase",
  "winerror",
  "winioctl",
  "winnt",
  "oleauto",
  "wbemcli",
  "rpcdce",
  "combaseapi",
  "objidl",
  "powerbase",
  "netioapi",
  "lmcons",
  "lmaccess",
  "lmapibuf",
  "memoryapi",
  "ntlsa",
  "securitybaseapi",
  "shellapi",
  "std",
  "iphlpapi",
  "winsock2",
  "sddl",
]}
ntapi = "0.4"

[target.'cfg(not(any(target_os = "unknown", target_arch = "wasm32")))'.dependencies]
libc = "^0.2.144"

[target.'cfg(any(target_os = "macos", target_os = "ios"))'.dependencies]
core-foundation-sys = "0.8"

[target.'cfg(all(target_os = "linux", not(target_os = "android")))'.dev-dependencies]
tempfile = "3.2"

[dev-dependencies]
serde_json = "1.0" # Used in documentation tests.
